<section class="container mt-5">

    <div>
        <h1>Welcome to our Shop!</h1>

    </div>

    <div>
        <a href="/shop-page" class=".mt-5 btn btn-primary btn-lg">Shop Our Products</a>
    </div>

</section>